html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background: rgb(34, 40, 49);
  /* background-image: url("https://www.reuters.com/resizer/OKjVQvrpZfxhLbnzcoXsgZPj9g4=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/5E6IUHSNIJNVRGSYQGA3Z6TXNY.jpg"); */
}
.box {
  width: 100%;
  overflow: auto;
  height: 97vh;
  margin-top: 120px;
}
#main-box {
  width: 70%;
  margin: auto;

  background-color: rgb(255, 255, 255);
}

.stock-list:hover {
  cursor: pointer;

  background-color: rgb(253, 253, 253);
}

.stock-list {
  width: 100%;
  border: 4px solid rgb(0, 173, 181);
  background-color: white;
}
#input {
  width: 100%;
  height: 75px;
  background-color: rgb(0, 173, 181);
  position: fixed;
  left: 0px;
  top: 0px;
  margin-bottom: 440px;
}

#main-box h3 {
  width: 68%;
  color: green;
  margin: 10px auto;
  display: none;
}
#input img {
  color: rgb(71, 71, 71);
  border-radius: 50%;
  float: right;
  width: 3%;
  margin: 10px 30px 0 50px;
}
#input h4 {
  display: none;
}
#input div {
  float: left;
  text-align: left;
  font-size: 25px;
  margin-left: 3%;
  color: rgb(245, 240, 240);
  margin-top: 10px;
  font-weight: bold;
}
#main-box input {
  width: 30%;

  height: 40px;
  font-size: 20px;
  padding-left: 3%;
  background-color: rgb(57, 62, 70);
  color: white;
  margin: 10px auto 0px auto;
}

input[type="text"] {
  border: solid rgb(194, 192, 192) 0.2px;
}

.stock-list {
  height: 34px;
  width: 97.8%;
  text-align: left;
  float: left;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 30px;
  font-family: Open Sans, sans-serif;
  padding: 15px 0px 5px 20px;
  border: rgb(243, 240, 240) solid 0.1px;
}
.stock-list :nth-child(4) {
  text-align: left;
  float: left;
  font-size: 15px;
  /* background: rebeccapurple; */
  width: 8%;
  color: rgb(100, 100, 100);
}

.stock-list :nth-child(3) {
  width: 20%;
  float: left;
  text-align: right;
  font-size: 15px;
}
.stock-list :nth-child(2) {
  width: 35%;
  float: left;
  font-size: 15px;
  margin-left: 10%;
  text-align: left;
  color: rgb(182, 32, 32);
}
.stock-list :nth-child(1) {
  float: left;
  text-align: left;
  width: 7%;
  border-radius: 50%;
  /* background-color: rgb(194, 192, 192); */
  height: 100%;
}
.stock-list :nth-child(5) {
  float: left;
  text-align: left;
  width: 10%;
  /* background: saddlebrown; */
  font-size: 15px;
  height: 100%;
}
.stock-pop {
  width: 5%;
  height: 50px;
  float: left;
  background: transparent;
}
/* //////////////////////////////////////////////////////////////////////// */

.stock-pop :nth-child(1) {
  color: black;
  background-color: transparent;
  font-size: 2px;
  float: right;
  width: 65%;
  height: 36px;
}

.bottom-box {
  width: 70%;
  height: 30px;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-left: 15%;
  padding-bottom: 20px;
  margin-bottom: 1px;
}

#modal {
  width: 300px;
  height: 300px;
  background: rgb(216, 32, 19);
}

/* //////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1180px) {
  #main-box {
    width: 99%;
  }
  #input {
    width: 99%;
  }
  /* .stock-pop {
    margin: -14px auto 0px 49.6%;
  }
  .stock-pop :nth-child(1) {
    width: 11%;
  } */
}
@media screen and (max-width: 580px) {
  #main-box {
    width: 100%;
  }
  .box {
    width: 99%;
  }
  /* .stock-pop {
    width: 65%;
    margin: -14px auto 0px 20.6%;
  } */
  /* .stock-pop :nth-child(1) {
    width: 11%;
  } */

  #input {
    width: 99%;
  }
  .stock-list {
    width: 93%;
  }
}
/* ///////////////////////////////////////////////// */

.card {
  width: 240px;
  padding: 20px 0;
  height: 225px;
  float: left;
  font-size: 20px;
  position: fixed;
  margin-top: -5px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: rgb(252, 252, 252);
  background-color: rgb(0, 173, 181);
}

.card:nth-child(1) {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.card-1 {
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.card-1 :nth-child(1) {
  width: 80%;
  margin: 20px 7%;
  float: left;
  color: rgb(41, 40, 40);
  height: 90%;
  background-color: rgb(255, 255, 255);
  padding-top: 1%;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 3px;
}

#radio {
  width: 100%;
  color: white;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(34, 40, 49);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 169, 169);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
  background-image: url("https://optimalidm.com/wp-content/uploads/2020/06/Types-of-Authentication-1536x681.jpg");
  background-size: cover;
  background-position: cover;
}
.login {
  background-color: rgb(0, 0, 0);
  width: 180px;
  height: 30px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(235, 233, 233);
}
.login-page :nth-child(1){
  margin-bottom: 40vh;
  height: 10px;
  width: 10px;
}